.emacs.desktop
.emacs.desktop.lock
.cache/
.dap-breakpoints
.lsp-session*
*.el
eclipse.*
configuration.el
elpa/
backup/
auto-save-list/
eshell/
server/
transient/
emms/
workspace/
cache/
tramp
network-security.data
recentf
bookmarks

