.emacs.desktop
.emacs.desktop.lock
.cache/
.dap-breakpoints
.lsp-session*
*.el
projectile.cache
eclipse.*
configuration.el
elpa/
backup/
auto-save-list/
eshell/
server/
transient/
emms/
workspace/
cache/
tramp
network-security.data
recentf
bookmarks
.local/
eln-cache/
eww-bookmarks
